.header {
  display: flex;
  align-items: center;
  height: 80px;
  width: 100%;
  border-bottom: 1px solid #f1f1f1;

  &__logoWrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 80px;
    height: 50px;
    padding-left: 3%;
  
  }

  &__logo {
    height: 70px;
    object-fit: contain;
  }

  &__nav {
    margin-left: 4%;
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;

    a {
      text-decoration: none;
      display: block;
      font-size: 20px;
      font-weight: 500;
      cursor: pointer;
      margin: 10px;
      transition: .2s;
      color: black;

      // &:active, :visited, :focus {
      //   text-decoration: none;
      // }
      &.active {
      color: #303F9F;
      }

      &:hover {
        color: #303F9F;
      }

    }
  }

  &__searchBar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 2%;
    background-color: #eee;
    border-radius: 5px;
    padding: 10px;

    input {
      flex-grow: 1;
      width: 100%;
      outline: none;
      background-color: transparent;
      border: none;
      font-size: 16px;
      padding-left: 10px;
      padding-right: 10px;
    }

  }

  &__login {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    margin-right: 3%;
  }


}